$col-white: white;

$col-site-background: #160304;

$col-canvas-prim: #082d3a;

$col-canvas-sec: #5e1010;




$breakpoint-1200-max: 1199px;
$breakpoint-1200-min: 1200px;
$breakpoint-1024-max: 1023px;
$breakpoint-1024-min: 1024px;
$breakpoint-768-max: 767px;
$breakpoint-768-min: 768px;