// #082d3a
// blue canvas base color

// https://maketintsandshades.com/#082d3a
// darker shades árnyalatok:
// 082d3a	072934	06242e	061f29	051b23	04171d	031217	020d11	02090c	010406	000000
// lighter shades:
// 082d3a	21424e	395761	526c75	6b8189	84969d	9cabb0	b5c0c4	ced5d8	e6eaeb	ffffff

// #5e1010
// red canvas base color

// https://maketintsandshades.com/#5e1010

// darker shades:
// 5e1010	550e0e	4b0d0d	420b0b	380a0a	2f0808	260606	1c0505	130303	090202	000000
// lighter shades:
// 5e1010	6e2828	7e4040	8e5858	9e7070	af8888	bf9f9f	cfb7b7	dfcfcf	efe7e7	ffffff


// #f3d69b
// yellowish accent color   

// https://maketintsandshades.com/#f3d69b
// darker shades:
// f3d69b	dbc18c	c2ab7c	aa966d	92805d	7a6b4e	61563e	49402e	312b1f	18150f	000000
// lighter shades: 
// f3d69b	f4daa5	f5deaf	f7e2b9	f8e6c3	f9ebcd	faefd7	fbf3e1	fdf7eb	fefbf5	ffffff


$col-white: white;

$col-site-background: #160304;

$col-canvas-prim: #082d3a;

$col-canvas-sec: #5e1010;

$col-light-line: #395761;
$col-light-line-sec: #7e4040;

$col-accent: #f3d69b;

$col-accent-10-dark: #dbc18c;
$col-accent-20-dark: #c2ab7c;
$col-accent-30-dark: #aa966d;
$col-accent-60-dark: #61563e;
$col-accent-70-dark: #49402e;

$col-accent-10-light: #f4daa5;
$col-accent-20-light: #f5deaf;
$col-accent-30-light: #f7e2b9;
$col-accent-40-light: #f8e6c3;
$col-accent-50-light: #f9ebcd;
$col-accent-60-light: #faefd7;



$breakpoint-1200-max: 1199px;
$breakpoint-1200-min: 1200px;
$breakpoint-1024-max: 1023px;
$breakpoint-1024-min: 1024px;
$breakpoint-768-max: 767px;
$breakpoint-768-min: 768px;


@mixin container-padding {
    padding: 1.75rem 1.5rem;

    @media screen and (max-width: $breakpoint-768-max) {
        padding: 1.75rem 1.25rem;
    }
}

@mixin inner-shadow-all-side-mobile {
    box-shadow: inset 0px 0px 20px 5px rgba(0,0,0,0.75);
}